@font-face {
  font-family: 'MyRiad';
  src: url(../fonts/MyriadPro-Regular.otf);
}
@font-face {
  font-family: 'MyRiad';
  src: url(../fonts/MyriadPro-Bold.otf);
  font-weight: bold;
}
@font-face {
  font-family: 'MyRiad';
  src: url(../fonts/MyriadPro-It.otf);
  font-style: italic;
}
