@import url("fonts.css");

body{
  background-color: #fff;
  font-family: 'MyRiad', Arial, sans-serif;
  padding-bottom: 100px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}
#main-nav,
#main-nav .navbar-inverse{
  background-color: #262626;
  border: 0;
  margin: 0;
  padding: 12px 0;
}

#main-menu a{
  font-weight: bold;
  color: #d9d9d9;
}

#main-menu a:hover,
#main-menu a:active,
#main-menu a:focus{
  color: #ff6760;
}

#slider{
  background-color: #2a2a2a;
  color: #d9d9d9;
  padding: 55px 0;
}

#slider h1{
  font-size: 60px;
  margin-bottom: 50px;
  font-weight: normal;
}
#slider p{
  font-size: 40px;
  margin-bottom: 50px;
}

.btn-base{
  color: #fffafa;
  background-color: #ff6760;
  text-transform: uppercase;
  font-weight: bold;
}
.btn-base:hover{
  background-color: #595959;
  color: #fffafa;
}
#goods {
  background-color: #f8f8f8;
}

.thumb {
  text-align: center;
  margin: 90px 0;
}
div.thumb>img {
  height: 54px;
}
#features p {
  font-size: 20px;
  color:#616161;
  margin-bottom: 55px;
}
#features h2 {
  font-size: 30px;
  color:#616161;
  margin: 58px 0 19px;
}
#features button {
margin-right: 5px;
}
#pictures {
  margin: 21px 0 77px;
}
#pictures img {
  height:230px;
  margin-top: 10px;
}
#pictures div {
  text-align: center;
}
#footer1 {
  text-align: center;
  background-color: #313131;
  color: #d9d9d9;
  padding: 254px;
}
.i {
  color: "red";
}

<!--a.fa{
  display: block;
  height: 10px;
  width: 10px; border-radius: 5px;
  background-color: pink;
  }-->
#footer2 {
  text-align: center;
  background-color: #2C2C2C;
  color:  #d9d9d9;
  padding: 141px;
}
